<p>
  <%= label_tag "gmap_api_key", l('redmine_geo_custom_field.settings.gmap_api_key') %>
  <%= text_field_tag 'settings[gmap_api_key]', settings['gmap_api_key'], id: "gmap_api_key", style: "width: 100%" %>
</p>
